paper.pdf
paper.rtf
paper.ps
Thumbs.db
*.tmp
*.bib.sav
*.bib.bak
*.aux
*.log
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.out
cover_letter/cover_letter.dvi
cover_letter/cover_letter.pdf
figs/*eps-converted-to.pdf
figs/plot/.Rhistory
.DS_Store
reply.out
reply.pdf
elsarticle.zip
elsarticle
paper.spl
